<div class="over-all">
  <header>
    <img src="assets/images/filed-logo-01.png" class="logp" />
  </header>

  <div class="form-holder">
    <div class="context-one">
      <h2>Book a demo today and</h2> 
      <h2>get two weeks for <span class="blue-text">free</span>. Why?</h2>
      <p>Because Our AI-Powered Software will Exceed Your Marketing goals</p>
      <p>
        <img src="assets/images/Grid.svg" class="form-grid">
      </p>
      <p>
        <img src="assets/images/screenshot.png" class="screenshot">
      </p>
    </div>
    <div>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h3 class="form-head">We'll be in touch to get your trial setup.</h3>
        <p>Fill out form</p>
        <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
  <button (click)="increment()">Increment</button>

  <div>Current Count: {{ count$ | async }}</div>

  <button (click)="decrement()">Decrement</button>

  <button (click)="reset()">Reset Counter</button>
  <footer class="footer">
    <img src="assets/images/footer-full.svg" />
  </footer>
  <section>
    <div class="cont">
      <p>
        The Benefits of using Filed
      </p>
      <div>
        <img src="assets/images/check-icon.svg"><span>Ability to scale using Dexter, our AI-powered marketing
          genius</span>
        <img src="assets/images/check-icon.svg"><span>Client Success Manager who will optimize your Facebook ad
          campaignsw and focus on driving the best possible results for you.</span>
        <img src="assets/images/check-icon.svg"><span>This is limited time offer only.</span>
      </div>

    </div>
  </section>
</div>